

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    ul {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        li {
            flex: 1 0 25%;
            margin: 15px 0;
            min-height: 250px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            img {
              max-height: 150px;
            }

            .example-header-image {
              background-image: url('../../../../assets/images/logo/logo.jpg');
              background-size: cover;
            }

            .example-card {
              max-width: 400px;
              margin: 5px;

            }
        }
    }
}

mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #50cfa4;
}


@media(max-width: 950px) {
  .container {
    ul {
      li {
        flex: 1 0 45%;
      }
    }
  }
}


@media(max-width: 550px) {
  .container {
    ul {
      justify-content: center;
      li {
        flex: 1 0 100%;
      }
    }
  }
}
