
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;

  // &:before {
  //   position: absolute;
  //   content: '';
  //   z-index: 1;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   background-color: rgba(0,0,0,.4);
  // }

  .arrow {
    border-right: 10px solid #fff;
    border-bottom: 10px solid #fff;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    position: absolute;
    top: 80%;
    left: 49%;
    z-index: 10;
    animation: float 4s ease-in-out infinite;
  }

  img {
    min-width: 100%;
    height: 100%;
  }
}

@media(max-width: 1220px) {
  .container {
    height: 80%;
  }
}

@media(max-width: 850px) {
  .container {
    height: 60%;
  }
}

@media(max-width: 550px) {
  .container {
    height: 50%;
  }
}

@keyframes float {
  0% {
		transform: translatey(0px) rotate(45deg);
	}
	50% {
		transform: translatey(-20px) rotate(45deg);
	}
	100% {
		transform: translatey(0px) rotate(45deg);
	}
}
